.container {
    .formWrapperContainer {
        margin-top: 15px;
        max-width: 350px;
        width: 100%;

        .selectedChip {
            display: flex;
            flex-wrap: wrap;
            gap: 3px;
        }
    }
}
