.pageTitle {
  margin: 10px 0 0 10px;
}
.featureGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

  .changeViewButtonGroup {
    padding: 20px;
    height: 100%;
  }
  .filterContainer {
    width: 100%;
  }
}

#coursesBody {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;
}
