.root {
  padding-bottom: 20px;
  background-color: white;
}

.container {
  display: flex;
  height: 100%;
}

.mainContent {
  background-color: var(--blue-1);
  height: 100%;
}

.formBody {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  gap: 15px;
  height: fit-content;
}

.drawerBody {
  padding: 20px;
  height: 100%;
}

.drawerFieldContainer {
  margin-bottom: 20px;
  height: fit-content;
  border-radius: 12px;
  border: 1px solid #E1E1E1;
  padding: 1.25rem 1.25rem;
  .drawerTextTitle {
    margin-bottom: 10px;
  }
}

.textEditor {
  height: 200px;
}

#breadcumpWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  flex-grow: 1;

  #icArrow {
    color: var(--blue-500);
    width: 20px;
    height: 15px;
  }
  .cursorPointer {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
