#contestDetailsRoot {
  padding-bottom: 40px;
}

.bodyContainer {
  margin-top: 20px;
  .divContainer {
    padding: 20px;
    padding-top: 0;
  }
}
.topUserText {
  font-size: 18px;
  color: var(--blue-link);
}
.topUserText:hover {
  color: var(--blue-hover);
}
