.cardWrapper {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  .timeWrapper {
    padding: 10px;
    border-bottom: 1px dashed #e1e1e1;
  }
  .deadline {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
  .content {
    padding: 10px;
  }
}
.action {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.iconEdit {
  color: #1976d2;
}
.iconDelete {
  color: #f44336;
}
