.container {
  border: 1px solid var(--gray-50);
  border-radius: 5px;
  [class~="MuiAccordionSummary-content"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  [class~="MuiAccordionDetails-root"] {
    background-color: var(--gray-3);
    border-top: 1px solid var(--gray-50);
    border-bottom: 1px solid var(--gray-50);
  }
  .accordionDetailsContent {
    padding-left: 60px;
  }
  .accordionContainer {
    .announcementSubject {
      margin-bottom: 10px;
      .MuiInputBase-root {
        border-radius: 20px solid;
      }
    }
  }
  .imageResource {
    width: 40px;
    height: 40px;
  }
  .titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    .title {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
