.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column !important;
  background-color: var(--blue-1);
}

.container {
  display: flex !important;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  min-height: 100%;
}

.body {
  height: 100%;
}
