.language {
  background-color: var(--gray-10);
  padding: 5px 10px;
}
.runtime,
.memory {
  display: flex;
  align-items: center;
  gap: 5px;

  .icon {
    color: #8c8c8c;
    font-size: 22px;
  }
}

.container {
  margin-top: 10px;
}
