.sideBar {
  width: 270px;
  overflow: auto;
  flex-shrink: 0;
  height: 100%;
  & [class~="MuiDrawer-paper"] {
    width: 300px;
    top: 64px !important;
    box-sizing: border-box;
  }
}

.boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  margin-top: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin-top: 5px;
    filter: invert(4%) sepia(89%) saturate(7497%) hue-rotate(241deg) brightness(99%) contrast(101%);
  }
  cursor: pointer;
}

.item {
  margin-bottom: 3px !important;
  display: flex;
  gap: 10px;
  .itemIcon {
    font-size: inherit;
    min-width: 25px;
  }
  &[class~="Mui-selected"] {
    background-color: var(--blue-light-4);
    border-radius: 5px;
    color: #002db3;
    text-decoration: none;
    .itemIcon {
      color: #002db3;
    }
  }

  &:hover {
    background-color: var(--blue-light-4) !important;
    border-radius: 5px;
    color: #002db3;
    text-decoration: none;
    .itemIcon {
      color: #002db3;
    }
  }
}

.childItem {
  &:hover {
    background-color: #e0e0e0;
    .itemIcon {
      color: black;
    }
  }
}

.agentText {
  color: rgb(43, 43, 194) !important;
  font-size: 20px !important;
  margin-left: 10px !important;
  line-height: 2rem !important;
}

.TitleContainer {
  display: flex;
  align-items: center;
}
