.container {
  padding: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .currentJoinStatus {
    font-size: 20px;
    font-weight: bold;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
  }
  .breadcump {
    display: flex;
    align-items: center;

    #breadcumpWrapper {
      display: flex;
      align-items: center;
      gap: 5px;

      #icArrow {
        color: var(--blue-500);
        width: 20px;
        height: 15px;
      }
      .cursorPointer {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .timeDetailContainer {
    display: flex !important;
    justify-content: flex-start;
    flex-direction: column !important;

    .timeDescriptionText {
      font-size: 16px;
      margin-left: 5px;
    }
    .dateIcon,
    .timeInfoText {
      margin-right: 5px;
      font-weight: 300;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
      color: var(--gray-50);
      font-variant: tabular-nums;
      line-height: 1.5;
      align-items: center;
      text-align: center;
    }
  }
}
