#contestListRoot {
  padding-bottom: 40px;
  background-color: var(--gray-2);
}

.container {
  @media (min-width: 1200px) {
    max-width: 1440px !important;
  }

  .bannerWrapper {
    margin: 0px;
  }
}

.detailContainer {
  .generalDetailsContainer {
    display: flex;
    & [class~="MuiBox-root"] {
      padding-right: 30px;
    }
  }
  .trendingStackContainer {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.contestListContainer {
  padding-top: 40px;
  .contestListButtonGroup {
    .listStateButton {
      background-color: rgb(255, 255, 255);
      border-radius: 12px;
      border: 1px solid var(--gray-30);
      margin-right: 10px;
    }

    & [class~="MuiToggleButtonGroup-root"] {
      & [class~="Mui-selected"] {
        background-color: #ecf4fd;
        color: #1976d2;
        border: 1px solid #1976d2;
      }
    }
  }
}
