.container {
    background-color: var(--blue-50);
    .detailContainer {
        .generalDetailsContainer {
            display: flex;
            & [class~="MuiBox-root"]  {
                padding-right: 30px;
            }
        }
        .carouselContainer {
            max-width: 1600px;
            .carousel {
                padding: 20px;
            }
        }
        
    }
    .contestListContainer {
        .contestListButtonGroup {
            padding: 10px;
            & [class~="MuiToggleButtonGroup-root"] {
                & [class~="MuiButtonBase-root"] {
                    border-radius: 20px;
                    border: 0;
                    margin-right: 10px;
                }
            }
            
        }
    }
}