.container {
  border: 1px solid black;
  border-radius: 5px;
  &[class~="MuiDataGrid-columnHeaderTitle"] {
    white-space: normal;
  }
  &[class~="MuiDataGrid-columnHeader"] {
    height: unset !important;
    max-height: "168px !important";
  }
}
