.formBody {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 15px;

  .textEditor {
    height: 200px;
  }
}

.x-accordion-heading .x-accordion-toggle {
  background-color: transparent !important;
}

.ql-editor p {
  font-family: "Montserrat";
}
