.root {
  position: relative;
  width: 100dvw;
  height: max-content;
  display: flex;
  flex-direction: column !important;
  background-color: var(--gray-1);
}

.container {
  border-radius: 5px;
  height: 100%;
  max-width: 100% !important;
  padding-right: 20px !important;
}

.formBody {
  display: flex;
  flex-direction: column;
  background-color: #ffffff !important;
  padding: 20px 40px;
  gap: 15px;
}

.listQuestion {
  padding: 35px 40px;
  background-color: #ffffff;

  .questionCard {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .question {
      padding: 5px 10px;
      text-align: start;
    }
  }

  .answer {
    [class~="MuiFormGroup-root"] {
      display: flex;
      flex-direction: column;

      gap: 10px;
    }
    .answerItem {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: flex-start;

      .answerContent {
        font-weight: 400;
        padding: 0px 10px;
        text-align: start;
        background-color: inherit;
        .markdown {
          background-color: inherit;
        }
      }
    }
  }
}
