.searchContainer {
  position: relative;
  width: 80%;
}
.searchInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 30px;

  &:focus {
    outline: none;
  }
}
.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8c8c8c;
}

.closeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 18px;
  color: #8c8c8c;
}
.filterContainer {
  display: flex;
  align-items: center;
}
.filter {
  width: 20%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  padding: 6px 0;

  &:hover {
    cursor: pointer;
    p {
      color: #737373;
    }
    .filterIcon {
      color: #737373;
    }
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #8c8c8c;
  }
  .filterIcon {
    color: #c0c0c0;
  }
}
.tagItem {
  display: flex;
  gap: 10px;
  padding: 10px 15px;
}
.tagAll {
  display: inline;
  white-space: nowrap;
  border: 1px solid #f0f0f0;
  background-color: var(--gray-10);
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  border-radius: 50px;
  padding: 5px 10px;
}
.tag {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.tagLanguage,
.tagAlgorithm {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
}

.item {
  border: 1px solid #f0f0f0;
  background-color: var(--gray-10);
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 50px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}
.divider {
  color: var(--gray-10);
}
.shareSolution {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  padding: 5px 15px;
  margin: 0 15px;
  background-color: var(--gray-10);
  border-radius: 10px;
}
.shareSolutionTitle {
  font-size: 14px;
  font-weight: 500;
}
.shareIcon {
  width: 15px;
  height: 15px;
}
.shareButton {
  font-size: 10px !important;
  text-transform: none !important;
  background-color: green !important;
  &:hover {
    background-color: rgb(21, 131, 21);
  }
  border-radius: 10px !important;
}
.stickyFilter {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fafafa;
  padding: 10px 0;
}

.solutionContainer {
  overflow: auto;
  // height: calc(100vh - 350px);
}
.solutionInfo {
  display: flex;
  flex-direction: column;
}
.solutionTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 15px;
  .nameTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      font-weight: bold;
    }
  }
}
.imgAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.tagLanguageSolution {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
  margin: 0 70px;
}

.solutionButton {
  display: flex;
  gap: 20px;
  margin: 15px 70px;
  align-items: center;

  .solutionIcon {
    color: #737373;
  }

  .upVote,
  .view,
  .comment {
    display: flex;
    gap: 5px;
    color: #737373;
    font-size: 14px;
  }
}
.stickyBack {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fafafa;
  padding: 10px 0;
}
.backButton {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #737373;
  font-size: 14px;
  padding: 5px;

  &:hover {
    cursor: pointer;
    color: black;
    .backIcon {
      font-size: 20px;
      color: black;
    }
  }
  .backIcon {
    font-size: 20px;
    color: #737373;
  }
}
