.formBody {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  height: 100%;
  gap: 15px;
}

.textArea {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  resize: none;
  border: 1px solid var(--gray-30);
  border-radius: 10px;
  &:focus {
    outline: none;
  }
}
