.gridContainer {
  max-width: 600px;
  .formWrapper {
    width: 100%;
    .container {
      border-radius: 15px;
      box-shadow: 1px 1px 2px 0px var(--gray-20);
      border: 1px solid var(--gray-30);
      .inputField {
        width: 100%;
      }
      .button {
        margin-right: 5px;
      }
      .inputField {
        padding: 5px;
      }
      .searchDivider {
        margin-left: 2px;
        height: 20px;
      }
    }
  }
}
