.gridContainer {
  .courseImgCardContainer {
    position: relative;
    height: 200px;
    margin: 10px;
    margin-top: 0;
    .courseImage {
      object-fit: cover;
      height: 100%;
    }
    .classNameOverlay {
      position: absolute;
      top: 75%;
      left: 10px;
    }
  }
}
.gridBodyContainer {
  .resourceContainer {
    margin: 0;
  }
  .resourceAccordionContainer {
    margin: 0 10px 10px 0;
    .resourceSummaryContainer {
      cursor: default;
      [class~="MuiAccordionSummary-expandIconWrapper"] {
        transform: rotate(0deg);
      }
      .resourceSummaryText {
        font-size: 20px;
        font-weight: 800;
      }
      .editTopicTitleImageContainer {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        svg {
          width: 30px;
        }
      }
    }
    .accordDetail {
      padding: 0;
    }
  }
  .eventContainer {
    align-items: start;
    .eventTitle {
      padding: 10px;
    }
    .eventList {
      padding: 0;
      li {
        padding: 0;
      }
    }
  }
}

.topicWrapper {
  display: flex;
  flex-direction: column !important;
  box-shadow: none !important;
}
.informationBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.resourceAccordionContainer {
  box-shadow: none !important;
  border: none;
}

.resourceSummaryContainer {
  box-shadow: none;
  height: 30px !important;
}

.annoucementsWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.noAnnouncement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 20px 0px;

  .announcementImg {
    width: 140px;
    height: 140px;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}
