#courseCertificateDetailRoot {
  background-color: var(--gray-2);
  padding-bottom: 40px;
  height: 100%;
}

#container {
  min-height: 100%;
  padding-top: 40px;
  @media (min-width: 1200px) {
    max-width: 1340px;
  }

  #bodyWrapper {
    height: 100%;

    #leftBody {
      background-color: white;
      border-radius: 10px;
    }

    #rightBody {
      background-color: white;
      border-radius: 10px;
      border: 1px solid var(--gray-10);

      #breadcumpWrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0px 30px;
        border-bottom: 1px solid var(--gray-10);

        #icArrow {
          color: var(--blue-3);
          width: 20px;
          height: 15px;
        }
        .cursorPointer {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      #courseInfoWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px 30px;

        #courseTitle {
          display: flex;
          align-items: center;
          gap: 10px;

          #imgCourseRecommend {
            width: 70px;
            height: 70px;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .tabs {
          & [class~="Mui-selected"] {
            & [class~="MuiTypography-root"] {
              font-weight: 700;
              color: var(--blue-3);
            }
          }

          & [class~="MuiTabs-indicator"] {
            background-color: var(--blue-3);
          }
        }

        #courseDetails {
          .courseDetailsWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            #userRating {
              display: flex;
              align-items: center;
              gap: 5px;

              #icStar {
                color: #fcd12a;
              }
            }
          }
        }

        #icSchool {
          color: #ffffff;
        }
        #courseProgress {
          display: flex;
          flex-direction: column;
          gap: 10px;
          #progressTitle {
            display: flex;
            gap: 10px;

            #icFlag {
              color: var(--gray-60);
            }
          }
        }
      }
    }
  }
}
