.root {
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  &[class~="Mui-disabled"] {
    opacity: 0.5;
  }
  img {
    padding-right: 9px;
  }
}
.btnBlue {
  background: var(--blue-3) !important;
  border: 1px solid transparent !important;
  color: white !important;
  &:hover {
    background: var(--blue-3) !important;
  }
}
.btnRed {
  background: #af1c10 !important;
  border: 1px solid transparent !important;
  color: white !important;
  &:hover {
    background: #af1d1080 !important;
  }
}
.btnTransparentBlue {
  background: transparent !important;
  color: var(--blue-3) !important;
  border: 1px solid var(--blue-3) !important;
  &:hover {
    background: #eef0f2 !important;
  }
}
.btndisabled {
  background: rgba(28, 28, 28, 0.2);
  color: rgba(28, 28, 28, 0.2);
  font-weight: 600;
}
.btnGreen {
  background: var(--green-600) !important;
  border: none !important;
  color: white !important;
  &:hover {
    background: var(--green-500) !important;
  }
}
