.formBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

#codeStubsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.codeStubsWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #bcb9b9;
  height: fit-content;

  .codeStubHead {
    display: flex;
    border-bottom: 0.5px solid #bcb9b9;
    align-items: center;
    justify-content: space-between;
    background: #e5e5e5;
    padding: 10px 20px;
  }
}
