.container {
    background-color: var(--blue-light-5) !important;
    .problemDetailContainer {
        margin-left: 10px;
        color: black;
        .problemNameText {
            color: inherit;
        }
    }
    .problemDetailContainer:hover {
        color: var(--blue-hover);
        cursor: pointer;
    }
    .roundContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;

        .roundedInfoText {
            color: inherit ;
        }
    }
    .scoreContainer {
        border: 5px solid var(--green-200);
        color: var(--gray-50) ;
    }
    .scoreContainer:hover {
        border: 5px solid var(--green-400);
        color: var(--gray-80);
        cursor: pointer;
    }
    .submissionContainer {
        border: 5px solid var(--orange-200);
        color: var(--gray-50) ;
    }
    .submissionContainer:hover {
        border: 5px solid var(--orange-400);
        color: var(--gray-80) ;
        cursor: pointer;
}
}