.stepperWrapper {
  padding-bottom: 64px;
}

.fixedBottom {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  bottom: 0;
  background-color: white;
  gap: 16px;
  z-index: 1;
  border-top: 1px solid var(--gray-30);
}
.container {
  padding: 20px;
}
