.generalDescription {
  color: #1d2130;
  font-size: 12.8px !important;
  margin-bottom: 2rem;
  line-height: 14px;
}

.criteriaOrderText {
    color: gray;
    font-size: 15px;
    font-weight: 600;
}
.errorTextStar {
    color: red;
}