.text-editor {
  height: 100%;

  .ql-container {
    height: calc(100% - 42px) !important;

    .ql-editor {
      height: 100%;
    }
  }
}
.text-editor-no-toolbar {
  .ql-container {
    height: 100% !important;
    .ql-editor {
      height: 100%;
    }
  }
}
