[class~=MuiGrid-root]{
    .container {
        background-color: var(--gray-5) !important;
        .searchWrapper {
            margin: 10px;
            display: flex;
            flex-direction: row;
            padding: 10px;
            padding-left: 0;
            margin-bottom: 0;
            .colSearchContainer {
                max-width: 150px;
                width: 100%;
            }
        }
        .exportButton {
            margin: 0 0 10px 20px;
        }
    }

}