.featureGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  .changeViewButtonGroup {
    padding: 20px;
    height: 100%;
  }
  .filterContainer {
    width: 100%;
    margin-top: -20px;
  }
}

#coursesBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 30px;
  overflow-x: hidden;
}

.courseCard {
  margin-top: 20px;
  margin-bottom: 20px;
}
