.gridContainer {
  max-width: 600px;
  .formWrapper {
    width: 100%;
    .container {
      border-radius: 5px;
      border: 1px solid black;
      //remove box-shadow;
      box-shadow: none;
      .inputField {
        width: 100%;
      }
      .button {
        margin-right: 5px;
      }
      .inputField {
        padding: 5px;
      }
      .searchDivider {
        margin-left: 2px;
        height: 20px;
      }
    }
  }
}
