.gridContainer {
  max-width: 600px;
  .formWrapper {
    width: 100%;
    .container {
      border-radius: 5px;
      .inputField {
        width: 100%;
      }
      .button {
        margin-right: 5px;
      }
      .inputField {
        padding: 5px;
      }
      .searchDivider {
        margin-left: 2px;
        height: 20px;
      }
    }
  }
}
