.root {
  position: relative;
  width: 100vw; /* Adjusted from 100dvw for compatibility */
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
}

.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.mainContent {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.generalInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .textEditor {
    height: 200px;
    margin-bottom: 20px;
  }
}
.submissionTime {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formBody {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 40px;
}

.toolBar {
  width: 100%;
  padding: 0;
}

#breadcumpWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  flex-grow: 1;

  #icArrow {
    color: var(--blue-500);
    width: 20px;
    height: 15px;
  }

  .cursorPointer {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.drawerBody {
  padding: 20px;
  overflow: auto;
}

.drawerFieldContainer {
  margin-bottom: 20px;
}
.action {
  margin-top: 20px;
}

/* styles.css */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.shake {
  animation: shake 0.5s;
}

.slideUp {
  animation: slideUp 0.5s forwards;
}
