.breadcump {
  padding: 10px 20px 10px 20px;
}
[class~="MuiGrid-root"] {
  .container {
    .searchWrapper {
      // margin: 10px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      padding: 10px;
      // padding-left: 0;
      // margin-bottom: 0;
      .colSearchContainer {
        max-width: 150px;
        width: 100%;
        background-color: white;
      }
    }
  }
}
