.assignmentBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.assignmentsWrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.topic {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.assignmentTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  .assignmentIcon {
    width: 70px;
  }
}
