.assignmentBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 500px;
}

.assignmentsWrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.topic {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
