.formBody {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .textEditor {
    height: 200px;
  }
}

.x-accordion-heading .x-accordion-toggle {
  background-color: transparent !important;
}
