.navbarItem {
  flex-grow: 1;
  display: none;

  @media (min-width: 900px) {
    // equivalent to 'md' in Material-UI
    display: flex;
  }
}

.navbarAuthItem {
  flex-grow: 0;
  display: none;

  @media (min-width: 900px) {
    // equivalent to 'md' in Material-UI
    display: flex;
  }
}

.item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  color: white !important;
  display: block;
}
.header {
  background-color: var(--blue-500) !important;
  .logo {
    .imageLogo {
      width: 60px;
    }
  }
}

.imageProfile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.menuProfile {
  padding: 10px;
  & [class~="MuiPaper-root"] {
    background-color: black !important;
  }
}