.navbarItem {
  flex-grow: 1;
  display: none;

  @media (min-width: 900px) {
    // equivalent to 'md' in Material-UI
    display: flex;
  }
}

.navbarAuthItem {
  flex-grow: 0;
  display: none;

  @media (min-width: 900px) {
    // equivalent to 'md' in Material-UI
    display: flex;
  }
}
.wrapper {
  display: flex;
  align-items: center;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  padding: 0 56px;
}
.item {
  display: block;
}

.profile {
}

.header {
  background-color: white !important;
  box-shadow: 0 2px 4px #00000026 !important;
  .logo {
    width: 140px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-top: 5px;
      filter: invert(4%) sepia(89%) saturate(7497%) hue-rotate(241deg) brightness(99%)
        contrast(101%);
    }
    cursor: pointer;
  }
}

.imageProfile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.menuProfile {
  padding: 10px;
  & [class~="MuiPaper-root"] {
    right: 40px !important;
    left: auto !important;
    top: 60px !important;
  }

  .logout {
    color: var(--red-error);

    .iconLogout {
      color: var(--red-error);
    }
  }
}
.isActive {
  color: #060071 !important;
}
