.notification {
  &:hover {
    background-color: var(--blue-400) !important;
  }
}
.notification-title {
  margin-left: 16px;
  margin-top: 16px;
}
.noti-divider {
  margin-top: 16px;
}
.notification-item {
  margin-top: 16px;
  margin-left: 16px;
}
