.root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  background-color: var(--blue-1);

  .container {
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;

    .generalDescription {
        color: #6b7280;
        font-size: 12px;
        text-align: center;
        margin-bottom: 2rem;
        line-height: 14px;
    }

    .critTitle {
      font-size: 16px;
    }

    .selectLabel {
        margin-top: 5px;
        margin-bottom: -5px;
    }
    .configlabel {
        color: rgba(29, 33, 48, .749);
        font-size: 15px;
    }
    .secondaryLabel {
        color: rgba(29, 33, 48, .749);
        font-size: 16px;
    }
    .infoIcon {
        font-size: 15px;
    }
    .addBtn {
      height: 40px;
      border-radius: 15px;
      max-width: 500px;
    }
  }

  .stickyFooter {
    background-color: white;
    height: 80px;
  }

  .dataGridHeader {
    background-color: #6992f6 ;
    color: white;
    width: 100%;
  }
  .graded {
    background-color: #c7f7d4;
    color: #00e676;
  }
  .queue {
    background-color: var(--blue-light-4);
    color: #33c6dc;
  }

  [class~="MuiDataGrid-columnHeaderTitleContainer"] {
    background-color: #6992f6 ;
    [class~="MuiCheckbox-root"] {
        color: white ;
    }
  }
}

.stickyFooter {
    padding: 0px 50px 0 50px;
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;

    // height: "60px",
    width: 100%;

    .stepButton {
        height: 40px;
    }
  }

#breadcumpWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;

  #icArrow {
    color: var(--blue-500);
    width: 20px;
    height: 15px;
  }
  .cursorPointer {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

