.text-editor-question-answer {
  border: 0;
  height: fit-content !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ql-disabled {
    border: 0;
  }
  .ql-container {
    padding: 0;
    margin: 0;
    border: 0;

    .ql-editor {
      padding: 0px !important;
      margin: 0;
      height: fit-content;
      line-height: 1.5;
    }
  }
}

.sheet-radio-group {
  padding: 10px 15px !important;
}
