.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column !important;
  background-color: var(--white);
}

.body {
  margin-bottom: 40px;
}
