.courseCard {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;

  .courseName {
    margin-bottom: 16px;
    font-weight: bold;
  }

  .courseType {
    background-color: #e8f1fb;
    color: #002db3;
    padding: 4px 8px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: medium;
    margin-bottom: 16px;
  }

  .courseInstructors {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .instructor {
      display: flex;
      align-items: center;
      gap: 8px;

      .instructorName {
        font-size: 14px;
        font-weight: medium;
      }
    }
  }
}

.courseCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
