.container {
  .accordionContainer {
    .announcementSubject {
      margin-bottom: 10px;
      .MuiInputBase-root {
        border-radius: 20px solid;
      }
    }

    .announcementContent {
      height: 200px;
    }
  }
}
