.gridContainer {
  .courseImgCardContainer {
    position: relative;
    height: 200px;
    margin: 10px;
    margin-top: 0;
    .courseImage {
      object-fit: cover;
      height: 100%;
    }
    .nameCourseOverlay {
      position: absolute;
      top: 75%;
      left: 10px;
    }
  }
}

.annoucementsWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.annoucementCard {
  border: 1px solid var(--gray-20);
}

.action {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.iconEdit {
  color: #1976d2;
}
.iconDelete {
  color: #f44336;
}

.noAnnouncement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 20px 0px;

  .announcementImg {
    width: 140px;
    height: 140px;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}
