.gridContainer {
  .courseImgCardContainer {
    position: relative;
    height: 200px;
    margin: 10px;
    margin-top: 0;
    .courseImage {
      object-fit: cover;
      height: 100%;
    }
    .nameCourseOverlay {
      position: absolute;
      top: 75%;
      left: 10px;
    }
  }
}

.annoucementsWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.annoucementCard {
  border: 1px solid var(--gray-20);
}

.action {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.iconEdit {
  color: #1976d2;
}
.iconDelete {
  color: #f44336;
}
