.tabWrapper {
  border-bottom: 1px solid var(--gray-10);
  display: flex;
  align-items: center;
}

.tabs {
  & [class~="Mui-selected"] {
    & [class~="MuiTypography-root"] {
      font-weight: 700;
      color: var(--blue-500);
    }
  }

  & [class~="MuiTabs-indicator"] {
    background-color: var(--blue-500);
  }
}

#courseDetailBody {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 15px;
}
.eventContainer {
  align-items: start;
  margin: 0 38px;
  .eventTitle {
    padding: 10px;
  }
  .eventList {
    padding: 0;
    li {
      padding: 0;
    }
  }
}
