.tabWrapper {
  border-bottom: 1px solid var(--gray-10);
  display: flex;
  align-items: center;
  padding: 5px;
}

.tabs {
  box-shadow: 0px 8px 10px -15px #111;
  border-top: 1px solid var(--gray-10);
  border-bottom: 1px solid var(--gray-10);
  box-sizing: border-box;
  background-color: white;
}

#courseDetailBody {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;
}
.eventContainer {
  align-items: start;
  margin: 0 38px;
  .eventTitle {
    padding: 10px;
  }
  .eventList {
    padding: 0;
    li {
      padding: 0;
    }
  }
}
