.generalDescription {
  color: #1d2130;
  font-size: 12.8px !important;
  margin-bottom: 2rem;
  line-height: 14px;
}
.titleContainer {
display: flex;
  align-items: center;
}
.errorStar {
  color:red
}
.optionalText {
  color: #9ca3af;
  font-size: 12px !important;
  margin-bottom: 2rem;
  line-height: 14px;  
}