.tabs {
  box-shadow: 0 0px 0px #00000026 !important;
  border-top: 1px solid var(--gray-10);
  border-bottom: 1px solid var(--gray-10);
  box-sizing: border-box;
  background-color: white;
}

#courseDetailBody {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;
}
