.tabs {
  box-shadow: 0 2px 4px #00000026 !important;
  box-sizing: border-box;
  background-color: white;
}

#courseDetailBody {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;
}
