.demo-app {
    display: flex;
    min-height: 100%;
    font-family:
        Arial,
        Helvetica Neue,
        Helvetica,
        sans-serif;
    font-size: 14px;
}

.demo-app-main {
    flex-grow: 1;
}

.fc {
    /* the calendar root */
    min-width: 1100px;
    margin: 0 auto;
}
