.container {
    display: flex;
    background-color: #bcb9b9;
    height: 100vh;
}

.left-card {
    padding: 10px;
    height: calc(100vh - 120px);
    overflow-y: scroll;
}

.text-title {
    padding: 20px 0px 10px 0px;
}
