.successColor {
  background-color: #cfefcf !important;
}
.dangerBackground {
  background-color: #efcfcf !important;
}
.errorColor {
  color: #ca3120 !important;
  background-color: transparent !important;
}
