.cardContainer {
  height: 100%;
  border: 1px solid var(--gray-30);
  border-radius: 8px;

  .topGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--gray-3);
    border-radius: 8px 8px 0 0;
    color: var(--eerie-black);

    .detailGroup {
      display: flex;
      align-items: center;
    }
  }

  .cardDivider {
    color: var(--gray-80);
  }

  .moreButton {
    margin: 0 0 10px 10px;
  }
}

.listWrapper {
  padding: 10px !important;

  .listItem {
    padding: 0 !important;
  }
}
